{% extends 'karu.html.twig' %}

{% block title %}Hello QuisommesnousController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Qui sommes nous.</h1>

			</div>
		</div>
	</div>
{% endblock %}
