<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=, initial-scale=1.0">
		<title>karu-consult -
			<?php  echo ''.$page.'';  ?></title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
	</head>
	<body>

		<header>
			<div>
				<img src="#" alt="logo de karu-consult.com" width="250" height="100">
			</div>
			<div>
				<img src="#" alt="icone facebook">
			</div>
		</header>
		<nav>
			<ul>
				<li><a href="index.php" title="accueil du site">Accueil</a></li>
				<li><a href="quisommesnous.php" title="Qui sommes nous">Qui sommes-nous</a></li>
				<li><a href="contact.php" title="Page de Contact">Contact</a></li>
				<li><a href="faq.php" title="FAQ">FAQ</a></li>
			</ul>
		</nav>
	</body>
	<body>
		{% block body %}{% endblock %}
	</body>
	<footer>
		<nav>
			<ul>
				<li><a href="index.html" title="accueil du site">Accueil</a></li>
				<li><a href="http://" title="Qui sommes nous">Qui sommes-nous</a></li>
				<li><a href="http://" title="Page de Contact">Contact</a></li>
				<li><a href="http://" title="FAQ">FAQ</a></li>
			</ul>
		</nav>
		<address>
			Vous pouvez contacter l'auteur à l'adresse
			<a href="http://www.undomaine.com/contact">www.undomaine.com</a>.<br>
			Si vous relevez quelques bogues que ce soient, merci de contacter
			<a href="mailto:webmaster@somedomain.com">le webmaster</a>.<br>
			Vous pouvez aussi venir nous voir :<br>
			Mozilla Foundation<br>
			1981 Landings Drive<br>
			Building K<br>
			Mountain View, CA 94043-0801<br>
			USA
		</address>

	</footer>
	<div>
		<p>
			@copyright 2020 - karu-consult.com
		</p>
	</div>
</html></body></html>
